/*This code applies to the top-most part of the scree */
.header {
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#name {
    text-align: left;
}

#welcome {
    text-align: right;
}

/*This code applies to the about me section in middle of the page */
.about-me-grid {
    background-color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    min-height: 500px;
    max-height: 500px;
}

#about-me-box1 {
    margin-left: 10px;
}

#about-me-box2 {
    margin-right: 10px;
}


.about-me-grid > div {
    background-color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px 30px 30px 30px;
    gap: 10px;
    border-color: black;
    border-style: dashed;
    border-width: thick;
}


/*This code applies to the 2x3 grid in the middle of the page */
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 2fr);
}

.grid > div {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 2fr);
}

.box1, .box2, .box3, .box4, .box5, .box6 {
    background-color: gray;
    border-radius: 25px 25px 25px 25px;
    height: 200px;
    border-color: black;
    border-style: dashed;
    border-width: thick;
    margin-top: 20px;
}


#grid-header {
    position: relative;
    margin: -4rem o 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 2px solid;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;

}

/*This code applies to the contact info at the bottom of the page */
.contact {
    background-color: powderblue;
    margin-top: 20px;
}